#bcg{
    width: 100%;
    height: 1000px;
    background-image: url("all.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
}
body{
    background-color: black;
}
#c{
    color: white;
}
#l{
    color:white;
}